<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Welcome Back!</h1>
      <p>Please enter your account here</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
          <ion-icon name="eye-outline"></ion-icon>
        </ion-item>
      </div>
    </div>
    <div class="forgot-password ion-padding">
      <p>Forgot password?</p>
    </div>
    <div class="action-button ion-padding">
      <ion-button size="large" class="login-button">LOGIN</ion-button>
    </div>
    <div class="text-continue ion-padding">
      <p>Or continue with</p>
    </div>
    <div class="google-button ion-padding">
      <ion-button size="large" class="google-button">
        <img src="../../assets/google.png" alt="Google Icon"> Google
      </ion-button>
    </div>    
    <div class="fb-button ion-padding">
      <ion-button size="large" class="facebook-button">
        <img src="../../assets/facebook.png" alt="Facebook Icon">Facebook
      </ion-button>
    </div>
    <div class="policy ion-padding">
      <p>By signing up you accept the</p>
      <div class="inline">
        <div class="bold-text">
          <p>Terms of Service</p>
        </div> 
        <p class="and-text">and</p>
        <div class="bold-text">
          <p>Privacy policy</p>
        </div> 
      </div>
    </div>
    <div class="footer ion-padding">
      <p>Don't have an account?</p>
      <p>Register</p>
    </div>    
  </div>
</ion-content>
